node_modules/
dist/
build/
ios/

save của ichibikun/
TeachingFeeling.app/
TeachingFeeling.exe
ffmpegsumo.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
d3dcompiler_47.dll
nw.pak
start.command
package1.json
README!!!!!!!!!!!!.txt
erokuni.net.bmp
erokuni.net.txt
( erokuni.net ] .png
